header{
    background-color: #bb6ee8;
color: #fff;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

main{
background-color: #26e7e4;
color: #f6f8f5;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

img{
width: 80px;
height: 80px;
}

img{
display:block ;
width: 250px;
margin: 0 auto;
border: 4px solid #f6f1f1;
height: 300px;
}