header{
    background-color: #d591fc;
color: #fff;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

h1{
    color: #da4a4a;
}

main{
background-color: #82f0ee;
color: #f6f8f5;
max-width: 800px;
margin: 0 auto;
padding: 16px;
display: flex;/*ativa o flexbox para alinhar os elementos*/}

img{
width: 150px;
height: 150px;
border: 2px solid #3135f0c2;
display:block ;
margin: 0 auto ;
}

img{
display:block ;
width: 250px;
margin: 0 auto;
border: 4px solid #f7f4f6;
height: 300px;
}